name: webhook passive example
on:
  repository_dispatch:
    types: 
      - passive-task
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: my passive task
      run: |
        echo "Received passive webhook, displaying received data"
        echo "type = ${{ github.event.client_payload.type }}"
        echo "shkeptncontext = ${{ github.event.client_payload.shkeptncontext }}"
        echo "id = ${{ github.event.client_payload.id }}"
